@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary: white;
  --secondary: black;
  --border-size: 3px;
  --board-size: 450px;
  --player-size: 5px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary);
}

.hidden {
  display: none !important;
}

h1 {
  color: var(--primary);
  margin-bottom: 50px;
}

#board {
  height: var(--board-size);
  width: var(--board-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.spot {
  position: relative;
  cursor: not-allowed;
}

.spot.empty {
  cursor: pointer;
}

.spot.x::after,
.spot.x::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: var(--player-size);
  height: 100%;
  top: 0%;
  left: 50%;
  background-color: var(--primary);
}

.spot.x::after {
  transform: rotate(-45deg);
}

.spot.x::before {
  transform: rotate(45deg);
}

.spot.o::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: var(--player-size) solid var(--primary);
}

.border-bottom {
  border-bottom: var(--border-size) solid var(--primary);
}

.border-right {
  border-right: var(--border-size) solid var(--primary);
}

#output {
  margin-top: 50px;
  font-size: 2.2rem;
  color: var(--primary);
}

#restart-btn {
  font-size: 1.9rem;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 15px;
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
}