@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary: black;
    --secondary: white;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden { display: none !important; }

h1 { color: var(--primary); }

#output {
    font-size: 2.2rem;
    color: var(--black);
}

#restart-btn {
    font-size: 1.9rem;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 15px;
    border: 0;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--secondary);
    margin-bottom: 30px;
}